 body {
  background-color: rgb(92, 169, 172);
 }

.App {
  text-align: center;
/*   padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw; */
  font-family: 'Roboto';
}

/* vertically center content */
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* Whatever width you want */
}

.content {
  background-color: white;
  border: 2px solid #746b98;
  border-radius: 5px;
  padding: 15px;
  padding-top: 30px;
}

.cardImage {
  width: 7vw;
}

